<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
	<title>
		GNUKhata
	</title>

	<style>
	.login-box{
		background-color: rgba(220, 225,225,0.4);
	}

	</style>

</head>
<body>
<div class="container-fluid">


		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 pull-right">
			<div class="panel" >
				<div class="panel-heading">
					<div class="panel-title">Create Admin</div>

				</div>

				<div style="padding-top:30px" class="panel-body" >
					<form id="loginform" method="post" class="form-horizontal">
	            <div class="alert alert-danger" id="usrname-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Please enter username!
	            </div>
	            <div class="alert alert-danger" id="pasword-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Please enter password!
	            </div>
	            <div class="alert alert-danger" id="confpass-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Please re-enter password!
	            </div>
							<div class="alert alert-danger" id="checkpass-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Password not confirmed!
	            </div>
	            <div class="alert alert-danger" id="secuque-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Please enter security question!
	            </div>
	            <div class="alert alert-danger" id="secuans-blank-alert" hidden>
	              <a href="#" class="close" aria-label="close">&times;</a>
	              Please enter the answer of security question!
	            </div>

						<div style="margin-bottom: 25px" class="col-xs-12 from-group">

							<label for="username"><u>U</u>sername</label>
							<input type="text" id="username" class="form-control" name="username" accesskey="u"></input>
							<br/>
							<label for="password"><u>P</u>assword</label>
							<input type="password" id="password" class="form-control" name="password" accesskey="p"></input>
							<br/>
							<label for="confirmpassword"><u>C</u>onfirm Password</label>
							<input type="password" name="confirmpassword" id="confirmpassword" class="form-control" value="" accesskey="c"></input>
							<br/>
							<label for="securityanswer">Security <u>Q</u>uestion</label>
							<input type="text" class="form-control" value="" id="securityquestion" name="securityquestion" accesskey="q"></input>
							<br/>
							<label for="securityanswer">Security <u>A</u>nswer</label>
							<input type="text" class="form-control" value="" id="securityanswer" name="securityanswer" accesskey="a"></input>
							<input type="hidden" class="form-control" value="{{orgname}}" id="orgname" name="orgname"></input>
							<input type="hidden" class="form-control" value="{{orgtype}}" id="orgtype" name="orgtype"></input>
							<input type="hidden" class="form-control" value="{{fromdate}}" id="yearstart" name="yearstart"></input>
							<input type="hidden" class="form-control" value="{{todate}}" id="yearend" name="yearend"></input>
							<br/>
							<button type="submit" class="btn btn-success" accesskey="l">Create & <u>L</u>ogin</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createadmin.js')}}"></script>


</body>

</html>
